@media screen and (min-width: 787px){
    .page-forgot-password{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-page-forgot-password{
    text-align: center;
}

.form-forgot-password input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
}

.form-forgot-password h4{
    font-size: 24px;
    text-transform: capitalize;
}

.form-forgot-password p{
    margin-top: 7px;
}
}
@media screen and (max-width: 786px){
    .page-forgot-password{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-page-forgot-password{
        text-align: center;
    }
    
    .form-forgot-password input{
        width: 90%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 5px 10px;
    }
    
    .form-forgot-password h4{
        font-size: 24px;
        text-transform: capitalize;
    }
    
    .form-forgot-password p{
        max-width: 90%;
        width: 100%;
        margin: 7px auto;
    }
}