@media screen and (min-width: 787px) {   
    .page-reset-password{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-page-reset-password{
        height: 40vh;
        width: 40%;
        text-align: center;
    }

    .content-page-reset-password form h4{
        font-size: 28px;
    }

    #password-div-visiblity{
        border: 1px solid black;
        width: 70%;
        height: 35px;
        margin: 30px auto auto auto;
        height: fit-content;
        border-radius: 5px;
    }

    .content-page-reset-password form input{
        width: 90%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 35px;
        padding: 5px 10px;
        font-size: 18px;
        border: none;
        outline: none;
    }


    .visiblity-pass{
        width: 10%;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    .btn-block{
        margin-top: 20px;
        padding: 8px 15px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid black;
        transition: .3s ease-in-out;
    }

    .btn-block:hover{
        background-color: rgb(247, 253, 255);
    }
}

@media screen and (max-width: 786px) {   
    .page-reset-password{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-page-reset-password{
        height: 40vh;
        width: 90%;
        text-align: center;
    }

    .content-page-reset-password form h4{
        font-size: 28px;
    }

    #password-div-visiblity{
        border: 1px solid black;
        width: 90%;
        height: 35px;
        margin: 40px auto auto auto;
        height: fit-content;
        border-radius: 5px;
    }

    .content-page-reset-password form input{
        width: 90%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 35px;
        padding: 5px 10px;
        font-size: 18px;
        border: none;
        outline: none;
    }


    .visiblity-pass{
        width: 10%;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    .btn-block{
        margin-top: 20px;
        padding: 8px 15px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid black;
        transition: .3s ease-in-out;
    }

    .btn-block:hover{
        background-color: rgb(247, 253, 255);
    }
}